<style type="text/css">
.rom{

}
.head{
	background-color:#1E2021 ; 
    text-align: center; 
    color: #ffffff;  
    padding: 1% 0;
    font-weight: bolder;
    height: 6%;
    font-size: 2em;
}
body{
	margin: 0;
    padding: 0 !important;
}
.footer{
    font-weight: bold;
    bottom: 0; 
    position: absolute;
}

paper-button{
	background: #252626 !important;
    color: white;
}
.class-drop{
    width: 100%;
}
.frame{
    table-layout: auto; 
    margin-left: 33%; 
    margin-top: 7%;
}
.dupframe{
    table-layout: auto; 
    margin-left: 20%; 
    margin-top: 4%;
}
.logindialog{
    width:35%;
    margin: 10% 0 0 32%;
    text-align: center;
}
.logindialog .field{
    width: 60%;
    margin: 0 0 0 20%;
}

.logindialog .button{
    width: 40%;
    margin: 5% 0 0 30%;
}

.layframe{
    margin-left: 30%;
}
.cancellation-card .row{
    padding: 1% 3% 1% 5%;
}
.cancellation-card .detail{
    width: 75%;
    margin: 1% 5% 1% 5%;
}
.cancellation-card paper-input{
    width: 50% !important;
    margin: 5% 20% 0% 30%;
}
.cancellation-card paper-listbox{
    width: 50% !important;
    margin: 0% 20% 0% 30%;
}
.cancellation-card .reason iron-autogrow-textarea{
    margin-top: 1%;
}
.cancellation-card .check-box{
    padding: 5%;
    margin:5% 0 0 40%;
}
.cancellation-card .button{
    width: 30%;
    margin: 0% 0 0 35%;
}
</style>