<style type="text/css">
.rom{

}
.head{
	background-color:#1E2021 ; 
    text-align: center; 
    color: #ffffff;  
    padding: 1% 0;
    font-weight: bolder;
    height: 6%;
    font-size: 2em;
}
body{
	margin: 0;
    padding: 0 !important;
}
.footer{
	background-color: #252626;
    padding: 1% 0;
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.button{
	background-color: #252626;
    color: #ffffff;
}
.class-drop{
    width: 100%;
}
.frame{
    table-layout: auto; 
    margin-left: 33%; 
    margin-top: 7%;
}
.dupframe{
    table-layout: auto; 
    margin-left: 20%; 
    margin-top: 4%;
}
.logindialog{
    width:35%;
    margin: 10% 0 0 32%;
    text-align: center;
}
.logindialog .field{
    width: 60%;
    margin: 0 0 0 20%;
}

.logindialog .button{
    width: 20%;
    margin: 5% 0 0 40%;
}

.layframe{
    margin-left: 30%;
}
</style>